h1 {{ vm.message }}
p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus distinctio ab eos nihil debitis, soluta atque, provident inventore ratione veritatis!
a.btn.btn-primary(href='#/users') Users
